<%- include('./layout/header.ejs')%>
  <div class="container hero-list">
    <a class="btn btn-success pull-right" href="./add">添加英雄</a>
    <table class="table table-hover">
      <thead>
        <th>编号</th>
        <th>名称</th>
        <th>性别</th>
        <th>地址</th>
        <th>创建时间</th>
        <th>操作</th>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= i +1 %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].gender %></td>
          <td><%= data[i].address %></td>
          <td><%= data[i].date %></td>
          <td>
            <a href="./info?id=<%= data[i].id %>">查看</a>
            <a href="./edit?id=<%= data[i].id %>">编辑</a>
            <a href="javascript:;">删除</a>
          </td>
        </tr>
        <% } %>
        <!-- <tr>
          <td>2</td>
          <td>李白</td>
          <td>男</td>
          <td>2017-12-12 12:12:12</td>
          <td>
            <a href="">查看</a>
            <a href="">编辑</a>
            <a href="">删除</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>诸葛亮</td>
          <td>男</td>
            <td>2017-12-12 12:12:12</td>
            <td>
              <a href="./info">查看</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </td>
        </tr>
        <tr>
          <td>4</td>
          <td>大乔</td>
          <td>女</td>
          <td>2017-12-12 12:12:12</td>
          <td>
            <a href="">查看</a>
            <a href="">编辑</a>
            <a href="">删除</a>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>后羿</td>
          <td>男</td>
          <td>2017-12-12 12:12:12</td>
          <td>
            <a href="">查看</a>
            <a href="">编辑</a>
            <a href="">删除</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
<%- include('./layout/footer.ejs')%>
