<%- include('./layout/header.ejs')%>
  <div class="container hero-list">
    <p><strong>Id:<%= data.id %></strong></p>
    <p><strong>姓名:<%= data.name %></strong></p>
    <p><strong>性别:<%= data.gender %></strong></p>
    <p><strong>添加时间:<%= data.date %></strong></p>
  </div>
</body>
</html>